html, body, ul, li, ol, h1, h2, h3, h4, p, a, img, header, article, section, figure, figcaption, div {
  margin: 0;
  padding: 0; }

a {
  color: #000;
  display: block;
  text-decoration: none; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-size: 0.16rem; }

@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@keyframes rightToRight {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%); } }
@keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%); }
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@keyframes leftToLeft {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
.leftToLeft {
  animation: leftToLeft 0.5s linear; }

.rightToRight {
  animation: rightToRight 0.5s linear; }

.rightToLeft {
  animation: rightToLeft 0.5s linear forwards; }

.leftToRight {
  animation: leftToRight 0.5s linear forwards; }

.log {
  width: 100%;
  height: 2.88rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../imgs/img@2x/personCenter/bg_login.png") no-repeat;
  background-size: 100%; }

@media (min-width: 750px) {
  .log {
    background: url("../imgs/img@3x/personCenter/bg_login.png") no-repeat;
    background-size: 100%; } }
img {
  display: block;
  width: 100%;
  height: 100%; }

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.login {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.4rem; }
  .login input {
    height: 0.45rem; }
  .login > form > p {
    margin-top: 0.1rem;
    width: 100%;
    height: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666; }
  .login > form > div {
    position: relative;
    overflow: hidden; }
    .login > form > div .line {
      display: block;
      width: 100%;
      height: 0.01rem;
      background: red;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -100%; }
  .login > form > div > input[type='text'], .login > form > div > input[type='password'] {
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0.1rem;
    border-bottom: 0.01rem solid #ccc;
    color: #888;
    font-size: 0.14rem; }
  .login input::placeholder {
    color: #888;
    font-size: 0.14rem; }
  .login input::-moz-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .login input::-webkit-input-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .login > .wjmm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.25rem 0; }
    .login > .wjmm > a {
      color: #f66d44;
      font-size: 0.14rem; }
  .login > input[type='button'] {
    display: block;
    width: 2.4rem;
    height: 0.4rem;
    margin: 0 auto;
    outline: none;
    border: none;
    background: linear-gradient(to right, #ff6067, #fe9d6f);
    border-radius: 0.2rem;
    font-size: 0.16rem;
    color: #fff;
    box-shadow: 0px 0.05rem 0.1rem 0.01rem #f8cdc6;
    margin-top: 0.25rem; }
  .login > p {
    font-size: 0.14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    color: #888; }
    .login > p > a {
      color: #f66d44; }

.register {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.4rem; }
  .register input {
    height: 0.45rem; }
  .register > form > div {
    position: relative;
    overflow: hidden; }
    .register > form > div > img {
      position: absolute;
      top: 0.06rem;
      right: 0;
      width: 40%;
      height: 70%;
      border: none;
      z-index: 2; }
    .register > form > div .line {
      display: block;
      width: 100%;
      height: 0.01rem;
      background: red;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -100%; }
    .register > form > div > .verifyCode {
      border: none;
      background: #ff736a;
      border-radius: 0.5rem;
      width: 0.8rem;
      height: 0.3rem;
      font-size: 0.12rem;
      color: #fff;
      outline: none;
      position: absolute;
      top: 0.075rem;
      right: 0.05rem; }
    .register > form > div > .allDel {
      display: flex;
      width: 0.2rem;
      height: 0.2rem;
      background: #cdced4;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 0.12rem;
      color: #fff;
      position: absolute;
      top: 0.1rem;
      right: 0.05rem; }
  .register > form > p {
    margin-top: 0.1rem;
    width: 100%;
    height: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666; }
  .register > form > div > input[type='text'], .register > form > div > input[type='password'], .register > form > div > input[type='tel'] {
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0.1rem;
    border-bottom: 0.01rem solid #ccc;
    color: #888;
    font-size: 0.14rem; }
  .register input::placeholder {
    color: #888;
    font-size: 0.14rem; }
  .register input::-moz-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .register input::-webkit-input-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .register > .div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.25rem 0;
    font-size: 0.12rem;
    white-space: nowrap;
    color: #798ba1; }
    .register > .div > a {
      color: #f66d44;
      font-size: 0.12rem; }
  .register > input[type='button'] {
    display: block;
    width: 2.4rem;
    height: 0.4rem;
    margin: 0 auto;
    outline: none;
    border: none;
    background: linear-gradient(to right, #ff6067, #fe9d6f);
    border-radius: 0.2rem;
    font-size: 0.16rem;
    color: #fff;
    box-shadow: 0px 0.05rem 0.1rem 0.01rem #f8cdc6;
    margin-top: 0.25rem; }
  .register > p {
    font-size: 0.14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    color: #888; }
    .register > p > a {
      color: #f66d44; }

.findPassword {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.4rem; }
  .findPassword input {
    height: 0.45rem; }
  .findPassword > a {
    margin: 0 auto;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff736a;
    width: 35%; }
  .findPassword > form > div {
    position: relative;
    overflow: hidden; }
    .findPassword > form > div > img {
      position: absolute;
      top: 0.06rem;
      right: 0;
      width: 40%;
      height: 70%;
      border: none;
      z-index: 2; }
    .findPassword > form > div .line {
      display: block;
      width: 100%;
      height: 0.01rem;
      background: red;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -100%; }
    .findPassword > form > div > .verifyCode {
      border: none;
      background: #ff736a;
      border-radius: 0.5rem;
      width: 0.8rem;
      height: 0.3rem;
      font-size: 0.12rem;
      color: #fff;
      outline: none;
      position: absolute;
      top: 0.075rem;
      right: 0.05rem; }
    .findPassword > form > div > .allDel {
      display: flex;
      width: 0.2rem;
      height: 0.2rem;
      background: #cdced4;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 0.12rem;
      color: #fff;
      position: absolute;
      top: 0.1rem;
      right: 0.05rem; }
  .findPassword > form > p {
    margin-top: 0.1rem;
    width: 100%;
    height: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red; }
  .findPassword > form > div > input[type='text'], .findPassword > form > div > input[type='password'], .findPassword > form > div > input[type='tel'] {
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0.1rem;
    border-bottom: 0.01rem solid #ccc;
    color: #888;
    font-size: 0.14rem; }
  .findPassword input::placeholder {
    color: #888;
    font-size: 0.14rem; }
  .findPassword input::-moz-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .findPassword input::-webkit-input-placeholder {
    color: #888;
    font-size: 0.14rem; }
  .findPassword > .div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.25rem 0;
    font-size: 0.12rem;
    white-space: nowrap;
    color: #798ba1; }
    .findPassword > .div > a {
      color: #f66d44;
      font-size: 0.12rem; }
  .findPassword > input[type='button'] {
    display: block;
    width: 2.4rem;
    height: 0.4rem;
    margin: 0 auto;
    outline: none;
    border: none;
    background: linear-gradient(to right, #ff6067, #fe9d6f);
    border-radius: 0.2rem;
    font-size: 0.16rem;
    color: #fff;
    box-shadow: 0px 0.05rem 0.1rem 0.01rem #f8cdc6;
    margin-top: 0.25rem; }
  .findPassword > p {
    font-size: 0.14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    color: #888; }
    .findPassword > p > a {
      color: #f66d44; }
