@charset "utf-8";
//公共样式开始
html,body,ul,li,ol,h1,h2,h3,h4,p,a,img,header,article,section,figure,figcaption,div{margin: 0;padding: 0;}
a{
  color: #000;
  display: block;
  text-decoration: none;
}
$bai:100%;
ul,ol{list-style: none;margin: 0;padding: 0;}
body {
  font-size: 0.16rem;
}
@keyframes leftToRight {
  0%{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100%{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes rightToRight {
  0%{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes rightToLeft {
  0%{
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  100%{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes leftToLeft {
  0%{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100%{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.leftToLeft{
  animation: leftToLeft 0.5s linear;
}
.rightToRight{
  animation: rightToRight 0.5s linear;
}
.rightToLeft{
  animation: rightToLeft 0.5s linear forwards;
}
.leftToRight{
    animation:leftToRight 0.5s linear forwards;
}
@mixin backg($url){
  background: url("../imgs/img@" + $url + "x/personCenter/bg_login.png") no-repeat;
  background-size: 100%;
}
.log{
  width: $bai;
  height: 2.88rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include backg('2');
}
@media (min-width: 750px) {
  .log{
    @include backg('3');
  }
}
img{display: block;width: 100%;height: 100%;}
html,body{
  width: $bai;
  height: $bai;
  box-sizing: border-box;
}
//公共样式结束
@import "srcs/login";
@import "srcs/register";
@import "srcs/findPassword";