<div ng-controller="findPassword" class="findPassword">
    <form name="myForm" novalidate>
        <div>
            <input type="tel" placeholder="手机号" my-input name="myTel" ng-model="user.findTel"  required find-verify maxlength="11" ng-change="telChangeFind()">
            <i class="line"></i>
            <p class="allDel" ng-click="all()">X</p>
        </div>
        <div class="tu">
            <input my-input ng-model="user.findImg" maxlength="4"  type="text" placeholder="图形码">
            <i class="line"></i>
            <img ng-click="getImgUrl()" ng-show="user.imgUrl!==''" ng-src="{{user.imgUrl}}">
        </div>
        <div>
            <input my-input ng-model="user.findYzm" maxlength="4" type="text" placeholder="验证码">
            <i class="line"></i>
            <button id="findPassYZM" class="verifyCode" find-yzm ng-click='oYzm()'>获取验证码</button>
        </div>
        <div>
            <input my-input ng-change="passWord()" g  name="myPass" ng-model="user.findPassword" type="password"  placeholder="密码" minlength="6" maxlength="18" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/">
            <i class="line"></i>
        </div>
        <p>{{user.findHint}}</p>
    </form>
    <input ng-click="alterPassword()" type="button" value="完成修改">
    <a ui-sref="login">返回登录页面</a>
</div>